{% extends 'base/base.html' %}
{% load tz %}
{% load widget_tweaks %}

{% block title %}{{ object }} |{% endblock title %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="mb-0 fs-2">{{ object.name|title|upper }}</h1>
            <p class="ms-auto card-subtitle text-muted">{{ object.created|timezone:"Asia/Colombo" }}
                {% if object.modified != object.modified %} (Updated on: {{ object.modified|timezone:"Asia/Colombo" }}
                    ){% endif %}</p>
        </div>
        <p class="text-uppercase mt-4 ms-5" >Team: {{ object.team }}</p>
    </div>

{% endblock content %}
