{% extends 'base/base.html' %}
{% load static %}
{% block title %}Players |{% endblock title %}


{% block content %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">All Players</h5>
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush w-auto">
                {% for obj in object_list %}
                    <label class="list-group-item d-flex gap-3">
          <span class="pt-1 form-checked-content ms-2">
            <a href="{% url 'player:detail' obj.slug %}" class="text-decoration-none text-black">
              <h4>{{ obj |title }}</h4>
              <small class="d-block text-muted">
                <i class="bx bx-calendar me-2 bi"></i>
                {{ obj.created }} {% if obj.modified != obj.updated_on %} (Modified on: {{ obj.modified }}){% endif %}
              </small>
          </span>
                        <a class="ms-auto my-auto text-decoration-none" href="{% url 'player:update' obj.slug %}"><i
                                class="bx bx-edit-alt"></i></a>
                        <a class="mx-1 my-auto text-decoration-none" href="{% url 'player:delete' obj.slug %}"><i
                                class="bx bx-trash"></i></a>
                    </label>
                {% endfor %}
            </div>
        </div>


    </div>
    </div>


{% endblock content %}