{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Update {{ object }} |{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Update {{ object }}</h5>
            <small class="text-muted float-end">{{ object.created }} {% if object.modified != object.updated_on %}
                (Updated on: {{ object.modified }}){% endif %}</small>
        </div>
        <div class="card-body">
            <form action="{% url 'team:update' object.slug %}" method="POST"
                  enctype="multipart/form-data">{% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'team:list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock content %}



