{% with site_title="Scorecard" company="OV" %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
          data-assets-path="{% static 'assets' %}"
          data-template="vertical-menu-template-free">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

        <title>
            {% block title %}{% endblock title %} {{ site_title }}
        </title>

        <meta name="description" content=""/>

        {% include 'base/css-js-for-head.html' %}
        {% block c_head %} {% endblock c_head %}

    </head>

    <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            {% include 'base/aside.html' %}

            <!-- Layout container -->
            <div class="layout-page">
                {% include 'base/nav.html' %}

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4">{% if request.resolver_match.app_name %}
                            <span class="text-muted fw-light">{{ request.resolver_match.app_name|title }} /</span>{% endif %} {{ request.resolver_match.url_name|title }}
                        </h4>


                        {% block content %} {% endblock content %}


                    </div>
                    <!-- / Content -->

                    {% include 'base/footer.html' %}

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->



    {% block c_script %} {% endblock c_script %}
    {% include 'base/js.html' %}

    </body>

    </html>

{% endwith %}