{% with site_title="Scorecard" company="OV" %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
          data-assets-path="{% static 'assets' %}"
          data-template="vertical-menu-template-free">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

        <title>
            {% block title %}{% endblock title %} {{ site_title }}
        </title>

        <meta name="description" content=""/>

        {% include 'base/css-js-for-head.html' %}
        {% block c_head %} {% endblock c_head %}

    </head>

    <body>
    <!-- Content -->

    <div class="container-xxl m-5">
        {% block content %} {% endblock content %}
    </div>
    <!-- / Content -->



    {% block c_script %} {% endblock c_script %}
    {% include 'base/js.html' %}

    </body>

    </html>

{% endwith %}