<!-- Footer -->
<footer class="footer bg-fooer-theme">
    <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
        <div>
            <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/landing/" target="_blank"
               class="footer-text fw-bolder">{{ site_title }}</a>
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            {{ company }} Inc.
            Templte made by
            <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
        </div>
    </div>
</footer>
<!-- / Footer -->