{% extends 'base/blank.html' %}
{% load static %}
{% load tz %}
{% block title %}Matches |{% endblock title %}


{% block content %}
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">All </span>Matches
    </h4>

    <div class="row mx-3">
        {% for obj in object_list %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-lg">

                    <a href="{% url 'match:scoreboard' obj.slug %}" class="text-decoration-none text-black">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-auto">
                                    <img class="card-img card-img-left" src="{{ obj.first_batting.logo.url }}"
                                         alt="{{ object.first_batting.name }}"
                                         style="max-width:150px;max-height:150px;">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title  text-center">{{ obj |title }}</h5>
                                        <p class="card-text"><small class="text-muted">Last updated
                                            on: {{ obj.modified|timezone:"Asia/Colombo" }}</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <img class="card-img card-img-right" src="{{ obj.first_balling.logo.url }}"
                                         alt="{{ object.first_balling.name }}"
                                         style="max-width:150px;max-height:150px;">
                                </div>
                            </div>
                        </div>
                    </a>>

                </div>
                </div>
                {% if not forloop.last %}
                    <div class="row">
                {% endif %}
            {% else %}
                <div class="col-lg">

                    <a href="{% url 'match:scoreboard' obj.slug %}" class="text-decoration-none text-black">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-auto">
                                    <img class="card-img card-img-left" src="{{ obj.first_batting.logo.url }}"
                                         alt="{{ object.first_batting.name }}"
                                         style="max-width:150px;max-height:150px;">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title  text-center">{{ obj |title }}</h5>
                                        <p class="card-text"><small class="text-muted">Last updated
                                            on: {{ obj.modified|timezone:"Asia/Colombo" }}</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <img class="card-img card-img-right" src="{{ obj.first_balling.logo.url }}"
                                         alt="{{ object.first_balling.name }}"
                                         style="max-width:150px;max-height:150px;">
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    </div>


{% endblock content %}